node_modules
.DS_store
.idea
typedocs
dist
dist-*
visual-regression-tests/dist-tsc
visual-regression/failed-results
visual-regression/certified-snapshots/*-local
build
releases
.tmp
.env
*.tgz
.pnpm-store
# This project uses `pnpm` for package management
package-lock.json
.vscode/launch.json
