node_modules
.DS_store
.idea
typedocs
dist
dist-cfg
dist-vitest
examples/dist-tsc
visual-regression/failed-results
visual-regression/certified-snapshots/*-local
build
releases
.tmp
.env
*.tgz
.bun
# This project uses `bun` for package management
package-lock.json
